!!! XML
%kml{:xmlns => "http://www.opengis.net/kml/2.2"}
  %Document
    %name= "@#{id}'s recent locations"
    - (0...points.length-1).each do |i|
      %Style{:id => "icon-#{i}"}
        %IconStyle
          %color ffffffff
          %colorMode normal
          %Icon
            %href= "http://longitude.tath.am/assets/pin#{ (((points.length-i).to_f / points.length.to_f) * 10).to_i }.png"
      %Placemark
        %name= "#{"%03d" % (i+1)}. #{points[i][1]}"
        %styleUrl= "#icon-#{i}"
        %Point
          %coordinates= "#{points[i][0][1]},#{points[i][0][0]}"