!!! XML
%kml{:xmlns => "http://www.opengis.net/kml/2.2"}
  %Document
    %name= "@#{id}'s recent locations" 
    - (0...points.length-1).each do |i|
      %Placemark
        %name= "#{"%03d" % (i+1)}. #{points[i][1]}"
        %Point
          %coordinates= "#{points[i][0][1]},#{points[i][0][0]}"